.hateful {
  display: none;

  position: absolute;
  padding: 0 20px;

  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  margin-left: 50px;

  background: #000;
  border: 1px solid red;
  box-shadow: 0 0 15px 5px red;
}

.hateful p {
  color: red;
  font-size: 18px;
  font-family: var(--font-kalam);
}
