.terminal {
  background: var(--rose-pine--base-moon);
  height: 640px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin-bottom: 32px;
}

.terminal-titlebar {
  font-size: 13px;
  padding: 8px;
  background: var(--rose-pine--overlay-moon);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.terminal-titlebar--actions {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.action {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.close { background: #ff5f57; }
.minimize { background: #febc2e; }
.maximize { background: #28c840; }

.terminal-titlebar--title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.terminal-titlebar--title span {
  color: var(--rose-pine--text-moon);
}

.terminal-body {
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  flex: 1;
}

.terminal-input {
  padding: 8px;
  margin-top: auto;
}

.current-directory {
  margin: 0;
  padding: 0;
  color: var(--rose-pine--iris-moon);
}

.terminal-input--form {
  display: flex;
  align-items: center;
  gap: 4px;
}

.terminal-input--form input {
  background: transparent;
  border: none;
  outline: none;
  color: var(--rose-pine--text-moon);
}

.ls-container-short {
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--rose-pine--foam-moon);
  font-size: 13px;
}

.ls-container-long {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.ls-container-long p {
  color: var(--rose-pine--foam-moon);
  margin: 0;
  padding: 0;
  white-space: pre;
  font-size: 13px;
}

.not-found-line {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: var(--rose-pine--foam-moon);
}
